@charset "UTF-8"; 

/**
    This is an example css file.
**/

body {
    background-color: #E5E5E5;
}

.container {
    margin-top: 20px;
    font-size: 12px;
    color: #444444;
    text-shadow: 0 1px 0 #FFFFFF;
}

a {
    color: #000;
}

/* styles used by templates/login.php */
.container .login {
    text-align: center;
    margin-top: 20px;
}

.container .login .login-form {
    text-align: left;
    width: 300px;
    margin: auto;
}

.container .login .login-form label {
    display: inline-block;
    width: 100px;
}

.container .login .login-form input[type="submit"] {
    margin-left: 120px;
    margin-top: 10px;
}

.container .login .login-form .login-error {
    color: #8a1f11;
    text-align: center;
}

/** styles used by error pages (404, 500, etc) **/
.error_page {
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}

.error_page h1 {
    color: #413478;
    margin-bottom: 20px;
    font-weight: bold;
}

.error_page h2 {
    font-size: 22px;
    color: #413478;
    margin-bottom: 20px;
}

.error_page a {
    text-decoration: underline;
}